.abouts-section .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  max-width: 1000px;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 80px 5%;
}

.abouts-section .profile {
  flex: 0 0 260px;
}

.abouts-section .profile img {
  width: 380px;
  height: 520px;
  object-fit: cover;
  
 
}

.abouts-section .intro {
  flex: 1;
  min-width: 280px;
}

.abouts-section .intro h2 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  text-align: left;
  color: #610027;
}

.abouts-section .intro h2::after {
  margin: 12px 0 0;
  background-color: #912B48;
}

.abouts-section .intro p {
  line-height: 1.8;
  opacity: 0.85;
  margin-bottom: 12px;
  color: #912B48;
}

body[data-theme='dark'] .abouts-section {
  background: #0d0607;
  color: #FCD0D9;
}

body[data-theme='dark'] .abouts-section .intro h2 {
  color: #FCD0D9;
}

body[data-theme='dark'] .abouts-section .intro p {
  color: #B45A69;
}

@media (max-width: 768px) {
  .abouts-section .wrapper {
    flex-direction: column;
    text-align: center;
  }
  .abouts-section .intro h2 {
    text-align: center;
  }
}